<div class="form-stacked main-form">
  <%= form_for(@image, :url =>{ :action => 'create_step'}, :html => { :multipart => true, :class => 'content-form' }) do |f| %>
  <fieldset>
    <legend>Revisar datos imagen</legend>

<%= render :partial => "partials/copyright_notice" %>

<% if @image.errors.any? %>
   <% @image.errors.full_messages.each do |msg| %>
     <div class="alert alert-error"><%= msg %></div>
   <% end %>
<% end %>

    <div class="form-field">
      <%= f.text_field :happened_at, placeholder: '¿Cuándo ha ocurrido?', :required => "required", :class => 'span8' do %>
        <p class="help-block"><%= I18n.t("help.content.time") %></p>
      <% end %>
    </div>

 <legend> ¿Dónde ha ocurrido? </legend>
      <div class="form-field">
        <%= f.text_field :address, placeholder: 'Ejemplo: Plaza de Puerta del Sol', :id => 'map-address', :class => 'span7' do %>
        <p class="help-block"><%= I18n.t("help.content.location.address") %></p>
      <% end %>

        <%= f.text_field :city, placeholder: 'Ejemplo: Madrid', :id => 'map-city', :class => 'span7', :required => true do %>
        <p class="help-block"><%= I18n.t("help.content.location.city") %></p>
      <% end %>

        <%= f.text_field :country, placeholder: 'Ejemplo: España', :id => 'map-country', :class => 'span7', :required => true do %>
        <p class="help-block"><%= I18n.t("help.content.location.country") %></p>
      <% end %>
          <a href="#" id="map-search" class="btn">
            <i class='icon-search'></i>
            Buscar
          </a>


      <div class="hide">
        <%= f.text_field :latitude, :class => 'location_attributes_latitude', :style => "display:none" %>
        <%= f.text_field :longitude, :class => 'location_attributes_longitude', :style => "display:none" %>
      </div>

      </div>
      <% if @map == "[]" %>
        <%= gmaps("map_options" => {"center_longitude" => -3.700, "center_latitude" => 40.41, "zoom" => 3, "auto_adjust" => false, "auto_zoom" => false},"markers" => { "data" => @map }) %>
      <% else %>
        <%= gmaps("map_options" => {"auto_adjust" => true, "zoom" => 4, "auto_zoom" => false},"markers" => { "data" => @map }) %>
      <% end %>

    <div id="form-actions" style="margin-top: 20px;">
      <%= f.submit 'Enviar imagen', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
</div>
