<div class="form-stacked main-form">
<%= form_for(@image, :url =>{ :action => 'create_step'}, :html => { :multipart => true }) do |f| %>
  <fieldset>
    <legend>Revisar datos imagen</legend>

<%= render :partial => "partials/copyright_notice" %>

<% if @image.errors.any? %>
   <% @image.errors.full_messages.each do |msg| %>
     <div class="alert alert-error"><%= msg %></div>
   <% end %>
<% end %>

    <div class="form-field">
      <%= f.text_field :happened_at, placeholder: '¿Cuándo ha ocurrido?', :class => 'span8' %>
    </div>

    <!-- TODO: formulario de busqueda -->
      <div class="form-field">
        <%= f.text_field :street, placeholder: 'Dirección, Ciudad, País', :class => 'span8' %>
      </div>

    <div id="form-actions">
      <%= f.submit 'Enviar imagen', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
</div>
