<div class="form-stacked main-form">
<%= form_for(@image, :html => { :multipart => true }) do |f| %>
  <fieldset>
    <legend>Subir nueva imágen</legend>
    <div class="form-field">
      <%= f.label 'Título' %>
      <%= f.text_field :title, required: true, placeholder: 'Título de la imágen', class: 'span10' %>
    </div>
    <div class="form-field">
      <%= f.label 'Fichero' %>
      <%= f.file_field :img, required: true %>
    </div>

    <%= render :partial => "partials/form_for_content", :locals => {:f => f, :content => @image} %>

    <div id="form-actions">
      <%= f.submit 'Enviar imágen', :class => 'btn primary' %>
      <%= link_to 'Cancelar', images_path, :class => 'btn danger' %>
    </div>
  </fieldset>
<% end %>
</div>
