<div class="form-stacked main-form">
  <%= form_for(@image, :html => { :multipart => true, :class => "content-form" }) do |f| %>
  <fieldset>
    <legend><%= @title %></legend>
      <%= render :partial => "partials/copyright_notice" %>

      <div class="form-field">
        <%= f.text_field :title, required: true, placeholder: 'Título de la foto', :class => 'span8' do %>
          <p class="help-block"><%= I18n.t("help.image.title") %></p>
        <% end %>
        <%= f.file_field :img, required: true %>
          <p class="help-block"><%= I18n.t("help.image.archive") %></p>
      </div>

      <%= render :partial => "partials/form_for_content", :locals => {:f => f, :content => @image} %>
    <div class="form-actions">
      <%= f.submit 'Enviar foto', :class => 'btn primary' %>
      <%= link_to 'Cancelar', images_path, :class => 'btn danger' %>
    </div>
    </fieldset>
<% end %>
</div>
