<% @title = "Últimas fotos" %>
<div class="row" style="margin-top:20px;">
  <div class="span9">
    <div class="span4">
      <h2>Últimas fotos</h2>
    </div>

<div class="span9 add-content">
  <div class="btn btn-large">
    <i class="icon-picture"></i><%= link_to 'Subir nueva foto', new_image_path %>
  </div>
</div>

<ul class="thumbnails">
  <% @images.each do |image| %>
    <li class="span3">
      <div class="thumbnail">
        <% user = image.user ? image.user.username : "anonymous" %>
        <%= link_to image_tag(image.img.url(:small)), image_path(image, :username => user) %>
        <div class="caption">
          <h5><%= link_to image.title, image_path(image, user) %></h5>
            <% if can? :update, image %> 
              <%= link_to 'Editar', edit_image_path(image, :username => user), :class => "btn btn-primary" %>
            <% end %>
            <% if can? :destroy, image %> 
              <%= link_to 'Eliminar', image_path(user, :username => user), :class => "btn btn-danger", confirm: '¿Estas segura?', method: :delete %>
            <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<br />

<%= paginate @images %>
<%= gmaps4rails(@map) %>
  </div>
</div>

