<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <div class="span4">
      <h2>Últimas imágenes</h2>
    </div>

<div class="span9 add-content">
  <div class="btn btn-large">
    <i class="icon-picture"></i><%= link_to 'Subir nueva imagen', new_image_path %>
  </div>
</div>

<ul class="thumbnails">
  <% @images.each do |image| %>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag(image.img.url(:small)), image %>
        <div class="caption">
          <h5><%= link_to image.title, image %></h5>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<br />

<%= paginate @images %>
<%= gmaps4rails(@map) %>
  </div>
</div>

