<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <h2><%= @image.title %></h2>
    <%= image_tag(@image.img.url) %>
    <p><strong>Tags:</strong> <%= @image.tags %></p>
    <p><%= link_to 'Volver', images_path %>
  </div>
</div>
