<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <h2><%= @image.title %></h2>
    <%= image_tag(@image.img.url) %>
    <%= render :partial => "partials/metadata", :locals => { :content => @image } %>
    <%= render :partial => "partials/social_buttons", :locals => { :content => @image } %>
    <%= render :partial => "partials/geo_map", :locals => { :map => @map } %>
    <p><%= link_to 'Volver', images_path %>
  </div>
</div>
