<% @title = "Editar usuario" %>
<div class="span10 mt1">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :method => :put, :class => "form-horizontal" }) do |f| %>
    <legend>Editar usuario</legend>

        <%= f.text_field :name, :required => true %>

        <%= f.text_field :username %>

        <%= f.email_field :email %>
        
        <%= f.text_field :homepage %>

        <%= f.text_area :biography, :rows => 5 %>

        <div class="control-group">
          <label for="user_avatar" class="control-label">Avatar</label>
          <div class="controls">
            <%= f.file_field :avatar %>
          </div>
        </div>

        <%= f.password_field :current_password do %>
          <p class="help-block">(necesitamos tu contraseña para confirmar tus cambios)</p>
        <% end %>

        <%= f.password_field :password do %>
          <p class="help-block">(dejar en blanco si no quieres cambiarla)</p>
        <% end %>

        <%= f.password_field :password_confirmation %>

    <div class="form-actions"><%= f.submit "Actualizar", :class => "btn btn-primary" %></div>
  <% end %>

  <legend>Borrar mi cuenta</legend>

  <p><%= link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "¿Estás seguro?", :method => :delete, :class => "btn btn-danger" %></p>

</div>
