<div class="span10 mt1">

  <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <legend>Editar usuario</legend>
        <%= f.text_field :username %>
        <%= f.email_field :email %>
        <%= f.password_field :current_password do %>
          <p class="help-block">(necesitamos tu contraseña para confirmar tus cambios)</p>
        <% end %>
        <%= f.password_field :password do %>
          <p class="help-block">(dejar en blanco si no quieres cambiarla)</p>
        <% end %>
        <%= f.password_field :password_confirmation %>

    <div class="form-actions"><%= f.submit "Actualizar", :class => "btn btn-primary" %></div>
  <% end %>

  <legend>Borrar mi cuenta</legend>

  <p>¿No te gustamos? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "¿Estás seguro?", :method => :delete, :class => "btn" %></p>

</div>
