<% @title = "Registrarse" %>
<div class="span10 mt1">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
    <legend>Registrarse</legend>

      <%= f.text_field :name, :required => true %>

      <%= f.text_field :username, :required => true, :maxlength => "20" do %>
        <p class="help-block">Máximo 20 caracteres</p>
      <% end %>

      <%= f.email_field :email, :required => true %>
    
      <%= f.text_field :homepage %>

      <%= f.text_area :biography, :rows => 5 %>

      <div class="control-group">
        <label for="user_avatar" class="control-label">Avatar</label>
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
      </div>

      <%= f.password_field :password, :required => true %>

      <%= f.password_field :password_confirmation, :required => true %>

      <%= f.check_box :terms, :label => "Acepto las <a href='/pages/condiciones-de-uso' target='_blank'>condiciones de uso</a> [*]", :required => true %>

    <div class="form-actions"><%= f.submit "Registrarse", :class => "btn btn-primary" %></div>
  <% end %>

  <%= render "links" %>
</div>
