<div class="form-stacked main-form">
  <%= form_for(@audio, :html => { :multipart => true, :class => "content-form" }) do |f| %>
  <fieldset>
    <legend>Introducir nuevo audio</legend>
      <%= render :partial => "partials/copyright_notice" %>

      <div class="form-field">
        <%= f.text_field :title, required: true, placeholder: 'Título del audio', :class => 'span8' do %>
          <p class="help-block"><%= I18n.t("help.audio.title") %></p>
        <% end %>
        <%= f.file_field :archive, required: true %>
          <p class="help-block"><%= I18n.t("help.audio.archive") %></p>
      </div>

      <%= render :partial => "partials/form_for_content", :locals => {:f => f, :content => @audio} %>
    <div class="form-actions">
      <%= f.submit 'Enviar audio', :class => 'btn primary' %>
      <%= link_to 'Cancelar', audios_path, :class => 'btn danger' %>
    </div>
    </fieldset>
<% end %>
</div>
