<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <span class="label label-info"><%= link_to "Volver a la página anterior", "#", :id => "goback" %></span>
    <h2><%= @audio.title %></h2>

    <audio controls="controls">
      <source src="<%= @audio.archive.url %>" />
    </audio>

    <div id="flash-fallback"></div>

    <%= render :partial => "partials/metadata", :locals => { :content => @audio } %>
    <%= render :partial => "partials/social_buttons", :locals => { :content => @audio } %>
    <%= render :partial => "partials/geo_map", :locals => { :map => @map } %>
    <p><%= link_to 'Volver', audios_path %>
  </div>
</div>

