<div class="row" style="margin-top:20px;">
  <div class="span9">
    <span class="label label-info"><%= link_to "Volver a la página anterior", "#", :id => "goback" %></span>
    <h2><%= @audio.title %></h2>

    <audio controls="controls">
      <source src="<%= @audio.archive.url %>" />
    </audio>

    <div id="flash-fallback"></div>

    <% if can? :update, @audio %> 
        <%= link_to 'Editar', edit_audio_path(@audio), :class => "btn btn-primary" %>
    <% end %>
    <% if can? :destroy, @audio %> 
        <%= link_to 'Eliminar', @audio, :class => "btn btn-danger", confirm: '¿Estas segura?', method: :delete %>
    <% end %>

    <%= link_to "Descargar", download_audio_path(@audio), :class => "btn btn-success" %>

    <%= render :partial => "partials/metadata", :locals => { :content => @audio } %>
    <%= render :partial => "partials/social_buttons", :locals => { :content => @audio } %>
    <%= render :partial => "partials/geo_map", :locals => { :map => @map } %>
    <p><%= link_to 'Volver', audios_path %>
  </div>
</div>

