<div class="row" style="margin:20px;">

  <%= render :partial => "partials/content_header", :locals => { :content => @audio, :type => "audio" } %>

  <div class="center">
    <audio controls="controls"><source src="<%= @audio.archive.url %>" /></audio><div id="flash-fallback"></div>
  </div>

  <div class="span4">
    <%= render :partial => "partials/social_buttons", :locals => { :content => @audio } %>
  </div>

  <div id="actions">
    <% user = @audio.user ? @audio.user.username : "anonymous" %>
    <% if can? :update, @audio %> 
      <%= link_to edit_audio_path(@audio, :username => user), :class => "btn" do %>
        <i class="icon-pencil"></i>
        Editar
      <% end %>
    <% end %>
    <% if can? :destroy, @audio %> 
      <%= link_to audio_path(@audio, :username => user), :class => "btn", confirm: '¿Estas segura?', method: :delete do %>
        <i class="icon-remove"></i>
        Eliminar
      <% end %>
    <% end %>

    <%= link_to download_audio_path(@audio, :username => user), :class => "btn" do %>
      <i class="icon-circle-arrow-down"></i>
      Descargar
    <% end %>

    <%= render :partial => "partials/change_priority", :locals => { :content => @audio } %>

    <a class="btn" data-toggle="modal" href="#abuse-modal">
      <i class="icon-exclamation-sign"></i>
      Denunciar</a>
  </div>

  <%= render :partial => "partials/metadata", :locals => { :content => @audio, :map => @map } %>
</div>
