<% @title = "Etiqueta " + @tag %>
<div class="row" style="margin-top:20px;">
  <div class="span9">
    <h1>Etiqueta <%= @tag %></h1>
    <hr />

    <% if !@videos.none? %>
      <h2> Vídeos </h2>
    <ul class="span10">
      <% @videos.each do |video| %>
        <li class="thumbnail span2">
        <% user = video.user ? video.user.username : "anonymous" %>
        <%= link_to image_tag(video.thumbnail), video_path(video, :username => user) %>
          <div class="caption">
            <h5><%= link_to video.title, video_path(video, :username => video) %></h5>
          </div>
        </li>
      <% end %>
    </ul>
    <% end %>
    <div class="clearfix"></div>

    <% if !@images.none? %>
      <h2> Imágenes </h2>
    <ul class="span10">
      <% @images.each do |image| %>
      <li class="thumbnail span3">
        <% user = image.user ? image.user.username : "anonymous" %>
        <%= link_to image_tag(image.img.url(:small)), image_path(image, :username => user) %>
        <div class="caption">
          <h5><%= link_to image.title, image_path(image, :username => user) %></h5>
        </div>
      </li>
      <% end %>
    </ul>
    <% end %>

    <% if !@audios.none? %>
      <h2> Audios </h2>
    <ul class="span10">
      <% @audios.each do |audio| %>
        <% user = audio.user ? audio.user.username : "anonymous" %>
        <li><h5><%= link_to audio.title, audio_path(audio, :username => user) %></h5>
      <% end %>
    <% end %>

    <% if not @texts.none? %>
      <h2> Textos </h2>
    <ul class="span10">
      <% @texts.each do |text| %>
        <% user = text.user ? text.user.username : "anonymous" %>
        <li><h5><%= link_to text.title, text_path(text, :username => user) %></h5>
      <% end %>
    <% end %>

    <% if @texts.none? and @images.none? and @audios.none? and @videos.none? %>
      No hay contenidos con esta etiqueta.
    <% end %>

  </div>

  <%= link_to "Volver", tags_path %>
</div>
