<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <h1>Etiqueta <%= @tag %></h1>
    <hr />

    <% if @videos.exists? %>
      <h2> Vídeos </h2>
    <ul class="span10">
      <% @videos.each do |video| %>
        <li class="thumbnail span2">
          <%= link_to image_tag(video.thumbnail), video %>
          <div class="caption">
            <h5><%= link_to video.title, video %></h5>
          </div>
        </li>
      <% end %>
    </ul>
    <% end %>
    <div class="clearfix"></div>

    <% if @images.exists? %>
      <h2> Imágenes </h2>
    <ul class="span10">
      <% @images.each do |image| %>
      <li class="thumbnail span3">
        <%= link_to image_tag(image.img.url(:small)), image %>
        <div class="caption">
          <h5><%= link_to image.title, image %></h5>
        </div>
      </li>
      <% end %>
    </ul>
    <% end %>

    <% if @audios.exists? %>
      <h2> Audios </h2>
    <ul class="span10">
      <% @audios.each do |audio| %>
        <%= audio %>
        <li><h5><%= link_to audio.title, audio %></h5>
      <% end %>
    <% end %>

    <% if @texts.exists? %>
      <h2> Textos </h2>
    <ul class="span10">
      <% @texts.each do |text| %>
        <li><h5><%= link_to text.title, text %></h5>
      <% end %>
    <% end %>

    <% if not @texts.exists? and not @images.exists? and not @audios.exists? and not @videos.exists? %>
      No hay contenidos con esta etiqueta.
    <% end %>

  </div>

  <%= link_to "Volver", tags_path %>
</div>
