<div class="span10 mt1">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <legend>Cambiar tu contraseña</legend>
      <%= f.hidden_field :reset_password_token %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
    <div class="form-actions"><%= f.submit "Cambiar mi contraseña", :class => "btn btn-primary" %></div>
  <% end %>
  
  <%= render "links" %>

</div>
