<% @title = @user.name %>
<div class="row" style="margin-top: 15px;">
  <div class="span9 offset1">
    &lt; <%= link_to 'Volver', '#', :id => 'goback' %>
  </div>
</div>

<div class="row">
  <div class="span2 offset1" id="profile-avatar">
    <%= image_tag @user.avatar.url(:normal) %>
  </div>
  <div class="span5" id="user-info">
    <div class="row">
      <div class="span4" style="margin-left: 0px;">
        <h1><%= @user.name %></h1>
      </div>
      <% if current_user == @user %>
      <div class="span1">
        <%= link_to image_tag('edit-user.png'), edit_user_registration_path, :title => 'Editar mi cuenta' %>
      </div>
      <% end %>
    </div>
    <div class="row">
      <h4><%= @user.username %></h4>
    </div>
    <div class="row">
      <p><%= @user.biography %></p>
    </div>
    <div class="row">
      <span><%= link_to @user.homepage, @user.homepage %></span>
    </div>
  </div>
  <div class="span2" id="user-stats">
    <span style="font-weight: bold;background-color:#000;color:#fff;padding:5px;padding-right:62px;margin-bottom:10px;">Has subido</span>
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <td style="font-weight:bold;text-align:center;"><%= @images.size %></td>
          <td>fotos</td>
        </tr>
        <tr>
          <td style="font-weight:bold;text-align:center;"><%= @videos.size %></td>
          <td>videos</td>
        </tr>
        <tr>
          <td style="font-weight:bold;text-align:center;"><%= @texts.size %></td>
          <td>textos</td>
        </tr>
        <tr>
          <td style="font-weight:bold;text-align:center;"><%= @audios.size %></td>
          <td>audios</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="offset1 span9">
    <hr class="hr-profile" />
  </div>
</div>

<div class="row">
  <div class="span3 offset1" style="font-size: 1.3em;">
    <strong>Tus materiales subidos</strong>
  </div>
  <div class="span7" id="profile-main-links">
    <ul>
      <li><%= link_to 'mapa', '#', :id => "show-user-map" %> |</li>
      <li><%= link_to 'línea temporal', '#', :id => "show-user-timeline", :class => "strong" %> |</li>
      <li><%= link_to 'etiquetas', '#', :id => "show-user-tags" %></li>
    </ul>
  </div>
</div>

<div id="user-timeline" class="row offset1 span9">
  <div id="timeline" data-url="/profile/<%= @user.username %>/timeline.json"></div>
</div>

<div id="user-map" class="span11 mt1 hide">
  <div style="margin-top:5em;" class="span12">
    <%= gmaps4rails(@map) %>
  </div>
</div>

<div id="user-tags" class="row hide">
  <!-- TODO: tags -->
</div>

<br />
<br />

<div class="row">

  <div class="offset1 span9" id="profile-images">

  <div class="row">
    <div class="span2">
      <h3 style="margin-bottom:-25px;">1. Fotos</h3>
    </div>
    <div class="offset8 span1">
      <p style="font-weight:bold; font-size: 1.5em;text-align:right;"><%= link_to "[+]", new_image_path, :title => 'Añadir foto' %></p>
    </div>
  </div>
  <% if @images.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th style="width:30%;">Título</th>
          <th style="width:10%;">Fecha</th>
          <th style="width:10%;">Ciudad</th>
          <th style="width:10%;">País</th>
          <th style="width:20%;">Acciones</th>
          <th style="width:20%;">Vista previa</th>
        </tr>
      </thead>
      <tbody>
        <% @images.each do |image| %>
          <tr>
            <% user = image.user ? image.user.username : "anonymous" %>
            <td><%= link_to image.title, image_path(image, :username => user) %></td>
            <td><%= l image.happened_at, :format => :short %></td>
            <td><%= image.city %></td>
            <td><%= image.country %></td>
            <td>
              &nbsp;
              &nbsp;
              <%= link_to image_tag('edit-user.png', :title => 'Editar'), edit_image_path(image, :username => user) %>
              &nbsp;
              <%= link_to image_tag('trash.png', :title => 'Eliminar'), image_path(image, :username => user), :confirm => '¿Estas segura?', :method => :delete %>
            </td>
            <td><%= link_to image_tag(image.img.url(:small)), image_path(image, :username => user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No ha subido imágenes todavía.</p>
  <% end %>

</div>

</div>

<div class="row">

  <div class="offset1 span9" id="profile-videos">
  
  <div class="row">
    <div class="span2">
      <h3 style="margin-bottom:-25px;">2. Videos</h3>
    </div>
    <div class="offset8 span1">
      <p style="font-weight:bold; font-size: 1.5em;text-align:right;"><%= link_to "[+]", new_video_path, :title => 'Añadir video' %></p>
    </div>
  </div>
  <% if @videos.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th style="width:30%;">Título</th>
          <th style="width:10%;">Fecha</th>
          <th style="width:10%;">Ciudad</th>
          <th style="width:10%;">País</th>
          <th style="width:20%;">Acciones</th>
          <th style="width:20%;">Vista previa</th>
        </tr>
      </thead>
      <tbody>
        <% @videos.each do |video| %>
          <tr>
            <% user = video.user ? video.user.username : "anonymous" %>
            <td><%= link_to video.title, video_path(video, :username => user) %></td>
            <td><%= l video.happened_at, :format => :short %></td>
            <td><%= video.city %></td>
            <td><%= video.country %></td>
            <td>
              &nbsp;
              &nbsp;
              <%= link_to image_tag('edit-user.png', :title => 'Editar'), edit_video_path(video, :username => user) %>
              &nbsp;
              <%= link_to image_tag('trash.png', :title => 'Eliminar'), video_path(video, :username => user), :confirm => '¿Estas segura?', :method => :delete %>
            </td>
            <td><%= link_to image_tag(video.thumbnail), video_path(video, :username => user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No ha subido videos todavía.</p>
  <% end %>

</div>

</div>


<div class="row">

  <div class="offset1 span9" id="profile-texts">

  <div class="row">
    <div class="span2">
      <h3 style="margin-bottom:-25px;">3. Textos</h3>
    </div>
    <div class="offset8 span1">
      <p style="font-weight:bold; font-size: 1.5em;text-align:right;"><%= link_to "[+]", new_text_path, :title => 'Añadir texto' %></p>
    </div>
  </div>
  <% if @texts.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th style="width:50%;">Título</th>
          <th style="width:10%;">Fecha</th>
          <th style="width:10%;">Ciudad</th>
          <th style="width:10%;">País</th>
          <th style="width:20%;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @texts.each do |text| %>
          <tr>
            <% user = text.user ? text.user.username : "anonymous" %>
            <td><%= link_to text.title, text_path(text, :username => user) %></td>
            <td><%= l text.happened_at, :format => :short %></td>
            <td><%= text.city %></td>
            <td><%= text.country %></td>
            <td>
              &nbsp;
              &nbsp;
              <%= link_to image_tag('edit-user.png', :title => 'Editar'), edit_text_path(text, :username => user) %>
              &nbsp;
              <%= link_to image_tag('trash.png', :title => 'Eliminar'), text_path(text, :username => user), :confirm => '¿Estas segura?', :method => :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No ha subido textos todavía.</p>
  <% end %>

  </div>
</div>
  
<div class="row">

  <div class="offset1 span9" id="profile-audios">

  <div class="row">
    <div class="span2">
      <h3 style="margin-bottom:-25px;">4. Audios</h3>
    </div>
    <div class="offset8 span1">
      <p style="font-weight:bold; font-size: 1.5em;text-align:right;"><%= link_to "[+]", new_audio_path, :title => 'Añadir audio' %></p>
    </div>
  </div>
  <% if @audios.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th style="width:50%;">Título</th>
          <th style="width:10%;">Fecha</th>
          <th style="width:10%;">Ciudad</th>
          <th style="width:10%;">País</th>
          <th style="width:20%;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @audios.each do |audio| %>
          <tr>
            <% user = audio.user ? audio.user.username : "anonymous" %>
            <td><%= link_to audio.title, audio_path(audio, :username => user) %></td>
            <td><%= l audio.happened_at, :format => :short %></td>
            <td><%= audio.city %></td>
            <td><%= audio.country %></td>
            <td>
              &nbsp;
              &nbsp;
              <%= link_to image_tag('edit-user.png', :title => 'Editar'), edit_audio_path(audio, :username => user) %>
              &nbsp;
              <%= link_to image_tag('trash.png', :title => 'Eliminar'), audio_path(audio, :username => user), :confirm => '¿Estas segura?', :method => :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No has subido audios todavía.</p>
  <% end %>
  
</div>
</div>
