<div class="span10 mt1">
  <h1>Perfil del usuario <%= @user.username %></h1>
  <div style="float:right;margin-top: -40px;">
    <%= gravatar_image_tag(@user.email, :gravatar => { :size => 100 }) %>
  </div>
  <% if current_user == @user %>
    <p><%= link_to 'Editar mi cuenta', edit_user_registration_path %></p>
  <% end %>
  <br /><br />
  
  <h2>Textos enviados</h2>
  <% if @texts.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Título</th>
          <th>Fecha</th>
          <th>Ciudad</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @texts.each do |text| %>
          <tr>
            <td><%= link_to text.title, text %></td>
            <td><%= text.happened_at %></td>
            <td><%= text.city %></td>
            <td><%= text.country %></td>
            <td>
              <%= link_to 'Mostrar', text %>
              <%= link_to 'Editar', edit_text_path(text) %>
              <%= link_to 'Eliminar', text, confirm: '¿Estas segura?', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No ha subido textos todavía.</p>
  <% end %>
  <br /><br />
  
  <h2>Archivos de audio enviados</h2>
  <% if @audios.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Título</th>
          <th>Fecha</th>
          <th>Ciudad</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @audios.each do |audio| %>
          <tr>
            <td><%= link_to audio.title, audio %></td>
            <td><%= audio.happened_at %></td>
            <td><%= audio.city %></td>
            <td><%= audio.country %></td>
            <td>
              <%= link_to 'Mostrar', audio %>
              <%= link_to 'Editar', edit_audio_path(audio) %>
              <%= link_to 'Eliminar', audio, confirm: '¿Estas segura?', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No has subido audios todavía.</p>
  <% end %>
  <br /><br />
  
  <h2>Imágenes enviadas</h2>
  <% if @images.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Título</th>
          <th>Fecha</th>
          <th>Ciudad</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @images.each do |image| %>
          <tr>
            <td><%= link_to image.title, image %></td>
            <td><%= image.happened_at %></td>
            <td><%= image.city %></td>
            <td><%= image.country %></td>
            <td>
              <%= link_to 'Mostrar', image %>
              <%= link_to 'Editar', edit_image_path(image) %>
              <%= link_to 'Eliminar', image, confirm: '¿Estas segura?', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No ha subido imágenes todavía.</p>
  <% end %>
  <br /><br />
  
  <h2>Videos enviados</h2>
  <% if @videos.size > 0 %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Título</th>
          <th>Fecha</th>
          <th>Ciudad</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @videos.each do |video| %>
          <tr>
            <td><%= link_to video.title, video %></td>
            <td><%= video.happened_at %></td>
            <td><%= video.city %></td>
            <td><%= video.country %></td>
            <td>
              <%= link_to 'Mostrar', video %>
              <%= link_to 'Editar', edit_video_path(video) %>
              <%= link_to 'Eliminar', video, confirm: '¿Estas segura?', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No ha subido videos todavía.</p>
  <% end %>
  <br /><br />
</div>
