<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title><%= @title %> | BancodeIdeas.15M.cc</title>
    <%= yield :head %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="lNyaDKKHJNJOlJLtI9u85zRk1JfHqPWwptZIbx8_SIc" />
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
  </head>
  <body>
    <div id="wrapper" class="container">
      <% flash.each do |name, msg| %>
        <% flash_notice_cookie(msg) %>
        <div style="display:none;" id="flash-message" class="alert alert-<%= cookies[:flash_notice_class] %>" data-dismiss="alert">
          <a href="#" class="close">x</a>
          <strong><%= cookies[:flash_notice] %></strong>
        </div>
        <script type="text/javascript">
          $(function() {
            var m = "<%= cookies[:flash_notice] %>";
            console.log(m);
            if (m != null) {
              $("#flash-message").show();
              "<% cookies.delete :flash_notice %>";
              "<% cookies.delete :flash_notice_class %>";
            } else {
              $("#flash-message").hide();
            }
          });
        </script>
      <% end %>
      <div id="header">
        <div class="container" id="main-header">
          <div class="row">
            <div class="span2" id="ribbon">
              <%= image_tag('ribbon2.png') %>
            </div>
            <div class="span10" id="logo">
              <div id="logo-banco">
                <%= link_to image_tag('logo-banco.png'), root_path %>
              </div>
              <div id="light" style="position: absolute; right: 80px;">
                <%= link_to image_tag('lightbulb.png'), root_path %>
              </div>
            </div>
          </div><!-- row -->
        </div><!-- container -->
          <div class="container">
            <div class="row">
        <div class="container-fluid" id="mainnav">
          &nbsp;
        </div><!-- mainnav -->
              <div class="span6" id="mainnavbar">
                <ul class="nav nav-pills">
                  <li><%= link_to 'QUÉ ES ESTO', page_path("que-es-esto") %></li>
                  <li class="dropdown" id="ver">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#ver">
                      VER MATERIAL
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'mapa', maps_path %></li>
                      <li><%= link_to 'línea de tiempo', timeline_path %></li>
                      <li><%= link_to 'etiquetas', tags_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown" id="subir">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#subir">
                      SUBIR MATERIAL
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to new_text_path do %>
                          <i class="icon-align-left"></i> texto
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_image_path do %>
                          <i class="icon-picture"></i> foto
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_audio_path do %>
                          <i class="icon-volume-up"></i> audio
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_video_path do %>
                          <i class="icon-film"></i> vídeo
                        <% end %>
                      </li>
                    </ul>
                  </li>
                  <li><%= link_to 'FAQ', page_path("faq") %></li>
                </ul>
              </div>
              <div class="span6" id="topmenu">
                <div id="login-link" style="display:none;">
                  <ul>
                    <li><%= link_to 'nuevo usuario', new_user_registration_path %></li>
                    <li>/</li>
                    <li><%= link_to 'iniciar sesión', new_user_session_path %></li>
                  </ul>
                </div><!-- login-link -->
                <div id="logout-link" style="display:none;">
                  <% if user_signed_in? %>
                  <ul>
                    <% username = cookies[:username] %>
                    <li><%= link_to username, "/profile/#{username}" %>
                    <% if current_user.role == 'admin' %>
                      <li class="admin-link" style="display:none;">/</li>
                      <li class="admin-link"style="display:none;"><%= link_to 'administrar', admin_users_path %>
                    <% end %>
                    <li>/</li>
                    <li><%= link_to 'desconectar', destroy_user_session_path, :method => 'delete' %></li>
                  </ul>
                <% end %>
                </div><!-- logout-link -->
                <div class="control-group">
                  <div class="controls">
                    <div class="input-prepend">
                      <form id="search-form" action="/search" method="get">
                        <span class="add-on"> <i class="icon-search"></i> </span>
                        <input type="search" class="span3" placeholder="Buscar" name="q" id="search"/>
                      </form>
                    </div>
                  </div>
                </div><!-- control-group -->
              </div><!-- topmenu -->
            </div>
          </div>
      </div><!-- header -->
      <div class="container" id="content">
        <%= yield %>
      </div>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="span12" id="img-footer">
              <%= image_tag("img-footer.png") %>
            </div>
            <!--
            <div class="span9" id="footer-logo">
              <%= link_to image_tag('logo-footer.png'), root_path %>
              <div id="footer-line">&nbsp;</div>
            </div>
            <div class="span3" id="license">
              <%= link_to image_tag('license.png'), 'http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES'  %>
            </div>
            -->
          </div>
        </div>
      </div><!-- footer -->
      <div class="modal hide" id="modal-welcome-beta">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Bienvenido a la beta de 15m.cc</h3>
        </div>
        <div class="modal-body">
          <p>Esta es una maqueta de pruebas para la plataforma web 15m.cc, puedes probar a subir todo tipo de contenidos y darnos feedback, todos los contenidos serán borrados cuando la web pase a producción.</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" data-dismiss="modal">Cerrar</a>
        </div>
      </div><!-- modal-welcome-beta -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31485437-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      <script type="text/javascript">
        var uvOptions = {};
        (function() {
          var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
          uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/39ISWZyEbjGr8oDtpLveA.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
      </script>
    </div><!-- wrapper -->
  </body>
</html>
