<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>15M.cc</title>
    <%= yield :head %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>" data-dismiss="alert">
        <a href="#" class="close">x</a>
        <%= msg %>
      </div>
    <% end %>
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="span8" id="topmenu">
            <ul>
              <% unless user_signed_in? %>
                <li><%= link_to 'nuevo usuario', new_user_registration_path %></li>
                <li>/</li>
                <li><%= link_to 'inciar sesión', new_user_session_path %></li>
              <% else %>
                <li><%= link_to 'mi cuenta',  edit_user_registration_path %></li>
                <li>/</li>
                <li><%= link_to 'desconectar', destroy_user_session_path, :method => 'delete' %></li>
              <% end %>
              <li></li>
              <li></li>
              <li><%= link_to 'english', '#' %></li>
            </ul>
          </div><!-- topmenu -->
          <div class="span4" id="logo">
            <%= link_to image_tag('logo.png'), root_path %>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="mainnav">
        <div class="container">
          <div class="row">
            <div class="span16">
              <ul>
                <li><%= link_to 'Qué es 15M.cc', '#' %> |</li>
                <li><%= link_to 'Cómo colaborar', '#' %> |</li>
                <li><%= link_to 'Quiénes somos', '#' %> |</li>
                <li><%= link_to 'Blog', '#' %> |</li>
                <li><%= link_to 'Contacto', '#' %> |</li>
                <li><%= link_to 'Donar', '#', :class => 'strong' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- mainnav -->
    </div><!-- header -->
    <div class="container" id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span8" id="footer-logo">
            <%= link_to image_tag('logo-footer.png'), root_path %>
            <div id="footer-line">
              &nbsp;
            </div>
          </div>
          <div class="span3" id="license">
            <%= link_to image_tag('license.png'), 'http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES'  %>
          </div>
        </div>
      </div>
    </div><!-- footer -->
    <%= yield :scripts %>
  </body>
</html>
