<div class="form-stacked main-form">
  <%= form_for(@video, :html => {:class => "content-form" }) do |f| %>
    <fieldset>
      <legend>Introducir nuevo video</legend>
      <%= render :partial => "partials/copyright_notice" %>

      <div class="form-field">
        <%= f.text_field :url, required: true, placeholder: 'http://', :class => 'span8' do %>
          <p class="help-block"><%= I18n.t("help.video.url") %></p>
        <% end %>

        <%= render :partial => "partials/form_for_content", :locals => {:f => f, :content => @video} %>
      </div>
      <div class="form-actions">
        <%= f.submit 'Enviar video', :class => 'btn primary' %>
        <%= link_to 'Cancelar', texts_path, :class => 'btn danger' %>
      </div>
    </fieldset>
  <% end %>
</div>
