<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <h2>Últimos videos</h2>

    <div class="span9 add-content">
      <div class="btn btn-large">
        <i class="icon-film"></i><%= link_to 'Introducir nuevo video', new_video_path %>
      </div>
    </div>

    <ul class="thumbnails">
      <% @videos.each do |video| %>
        <li class="span2">
          <div class="thumbnail">
            <%= link_to image_tag(video.thumbnail), video %>
            <div class="caption">
              <h5><%= link_to video.title, video %></h5>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <br />
    
    <%= paginate @videos %>
    
    <%= gmaps4rails(@map) %>
    
  </div>
</div>
