<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span13">
    <h2>Últimos videos</h2>

<table class="bordered-table zebra-striped">

  <thead>
    <tr>
      <th>Título</th>
      <th>Fecha</th>
      <th>Ciudad</th>
      <th>País</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video %></td>
        <td><%= video.happened_at %></td>
        <td><%= video.city %></td>
        <td><%= video.country %></td>
        <td>
          <%= link_to 'Mostrar', video %>
          <%= link_to 'Editar', edit_video_path(video) %>
          <%= link_to 'Eliminar', video, confirm: '¿Estas segura?', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>


</table>

<br />

<%= link_to 'New Video', new_video_path %>
</div>
</div>

<%= gmaps4rails(@map) %>

