<div class="row" style="margin:20px;">

  <%= render :partial => "partials/content_header", :locals => { :content => @video, :type => "video" } %>

  <div class="center" style="text-align:center;"><%= raw @video.embed_html %></div>

  <div class="span6">
    <%= render :partial => "partials/social_buttons", :locals => { :content => @video } %>
  </div>

  <div class="span5 right">
    <% user = @video.user ? @video.user.username : "anonymous" %>
    <% if can? :update, @video %> 
      <%= link_to 'Editar', edit_video_path(@video, :username => user), :class => "btn" %>
    <% end %>
    <% if can? :destroy, @video %> 
      <%= link_to 'Eliminar', video_path(@video, :username => user), :class => "btn", confirm: '¿Estas segura?', method: :delete %>
    <% end %>

    <%= link_to "Descargar", page_path("videodownloader"), :class => "btn" %>

    <%= render :partial => "partials/change_priority", :locals => { :content => @video } %>

    <a class="btn" data-toggle="modal" href="#abuse-modal">Denunciar contenido</a>
  </div>

  <%= render :partial => "partials/metadata", :locals => { :content => @video, :map => @map } %>
</div>
