<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <span class="label label-info"><%= link_to "Volver a la página anterior", "#", :id => "goback" %></span>
    <h2><%= @video.title %></h2>
    <%= raw @video.embed_html %>
    <%= render :partial => "partials/metadata", :locals => { :content => @video } %>
    <%= render :partial => "partials/social_buttons", :locals => { :content => @video } %>
    <%= render :partial => "partials/geo_map", :locals => { :map => @map } %>
    <p><%= link_to 'Volver', videos_path %>
  </div>
</div>
