<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">
    <h2><%= @video.title %></h2>
    <%= raw @video.embed_html %>
    <p><strong>Tags:</strong> <%= @video.tags %></p>
    <%= render :partial => "partials/social_buttons", :locals => { :content => @image } %>
    <p><%= link_to 'Volver', videos_path %>
  </div>
</div>
