<div class="form-stacked main-form">
<%= form_for(@text) do |f| %>
  <fieldset>
    <legend>Introducir nuevo texto</legend>
    <div class="form-field">
      <%= f.label 'Título' %>
      <%= f.text_field :title, required: true, placeholder: 'Título del texto', :class => 'span10' %>
      <% unless @text.errors[:title].blank? %>
        <span class="error-message"><%= @text.errors[:title].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label 'Texto' %>
      <%= f.text_area :body, rows: 6, required: true, placeholder: 'Cuerpo del texto', :class => 'span10' %>
      <% unless @text.errors[:body].blank? %>
        <span class="error-message"><%= @text.errors[:body].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label 'Tags' %>
      <%= f.text_field :tags, placeholder: 'Tags separados por comas', class: 'span10' %>
    </div>
    <div id="form-actions">
      <%= f.submit 'Enviar texto', :class => 'btn primary' %>
      <%= link_to 'Cancelar', texts_path, :class => 'btn danger' %>
    </div>
    </fieldset>
<% end %>
</div>
