<div class="form-stacked main-form">
  <%= form_for(@text, :html => {:class => "content-form"} ) do |f| %>
  <fieldset>
    <legend>Introducir nuevo texto</legend>

<%= render :partial => "partials/copyright_notice" %>

<% if @text.errors.any? %>
   <% @text.errors.full_messages.each do |msg| %>
     <div class="alert alert-error"><%= msg %></div>
   <% end %>
<% end %>

    <div class="form-field">
      <%= f.label 'Título' %>
      <%= f.text_field :title, required: true, placeholder: 'Título del texto', :class => 'span8' %>
      <% unless @text.errors[:title].blank? %>
        <span class="error-message"><%= @text.errors[:title].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label 'Texto' %>
      <%= f.text_area :body, rows: 6, required: true, placeholder: 'Cuerpo del texto', :class => 'span8' %>
      <% unless @text.errors[:body].blank? %>
        <span class="error-message"><%= @text.errors[:body].to_sentence %></span>
      <% end %>
    </div>

    <%= render :partial => "partials/form_for_content", :locals => {:f => f, :content => @text} %>

    <div id="form-actions">
      <%= f.submit 'Enviar texto', :class => 'btn primary' %>
      <%= link_to 'Cancelar', texts_path, :class => 'btn danger' %>
    </div>
    </fieldset>
<% end %>
</div>
