<div class="row" style="margin-top:20px;">
  <div class="span9">
    <div class="span4">
      <h2>Últimos textos</h2>
    </div>

<div class="span9 add-content">
  <div class="btn btn-large">
    <i class="icon-align-left"></i><%= link_to 'Introducir nuevo texto', new_text_path %>
  </div>
</div>
<br />

<table class="table table-striped table-bordered table-condensed">

  <thead>
    <tr>
      <th>Título</th>
      <th>Fecha</th>
      <th>Ciudad</th>
      <th>País</th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <% user = text.user ? text.user.username : "anonymous" %>
        <td><%= link_to text.title, text_path(text, :username => user) %></td>
        <td><%= l text.happened_at, :format => :short %></td>
        <td><%= text.city %></td>
        <td><%= text.country %></td>
        <% if can? :update, text %> 
          <td>
            <%= link_to 'Editar', edit_text_path(text, :username => user), :class => "btn btn-primary" %>
          </td>
        <% end %>
        <% if can? :destroy, text %> 
          <td>
            <%= link_to 'Eliminar', text_path(text, :username => user), :class => "btn btn-danger", confirm: '¿Estas segura?', method: :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>


</table>

<br />
<%= paginate @texts %>  

<%= gmaps4rails(@map) %>
  </div>
</div>


