<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span9">

    <span class="label label-info"><%= link_to "Volver a la página anterior", "#", :id => "goback" %></span>

    <h2><%= @text.title %></h2>
    <p>
      <%= @text.to_html(@text.body).html_safe %> 
    </p>

    <% user = @text.user ? @text.user.username : "anonymous" %>
    <% if can? :update, @text %> 
      <%= link_to 'Editar', edit_text_path(@text, :username => user), :class => "btn btn-primary" %>
    <% end %>
    <% if can? :destroy, @text %> 
        <%= link_to 'Eliminar', text_path(@text, :username => user), :class => "btn btn-danger", confirm: '¿Estas segura?', method: :delete %>
    <% end %>

    <%= link_to "Descargar", download_text_path(@text, :username => user), :class => "btn btn-success" %>

    <%= render :partial => "partials/metadata", :locals => { :content => @text } %>
    <%= render :partial => "partials/social_buttons", :locals => { :content => @text } %>
    <% if @map != "[]" %>
      <%= render :partial => "partials/geo_map", :locals => { :map => @map } %>
    <% end %>
    <p><%= link_to 'Volver', texts_path %>
  </div>
</div>

