<div class="row" style="margin:20px;">

  <%= render :partial => "partials/content_header", :locals => { :content => @text, :type => "text" } %>

    <p>
      <%= @text.to_html(@text.body).html_safe %> 
    </p>

  <div class="span4">
    <%= render :partial => "partials/social_buttons", :locals => { :content => @text } %>
  </div>

  <div id="actions" class="span7">
    <% user = @text.user ? @text.user.username : "anonymous" %>
    <% if can? :update, @text %> 
      <%= link_to edit_text_path(@text, :username => user), :class => "btn" do %>
        <i class="icon-pencil"></i>
        Editar
      <% end %>
    <% end %>
    <% if can? :destroy, @text %> 
      <%= link_to text_path(@text, :username => user), :class => "btn", confirm: '¿Estas segura?', method: :delete do %>
        <i class="icon-remove"></i>
        Eliminar
      <% end %>
    <% end %>

    <%= link_to download_text_path(@text, :username => user), :class => "btn" do %>
      <i class="icon-circle-arrow-down"></i>
      Descargar
    <% end %>

    <%= render :partial => "partials/change_priority", :locals => { :content => @text } %>

    <a class="btn" data-toggle="modal" href="#abuse-modal">
      <i class="icon-exclamation-sign"></i>
      Denunciar</a>
  </div>

  <%= render :partial => "partials/metadata", :locals => { :content => @text, :map => @map } %>
</div>
