<div class="row" style="margin-top:20px;">
  <%= render :partial => 'partials/sidebar_bank' %>
  <div class="span13">
    <h2><%= @text.title %></h2>
    <p><%= @text.body %></p>
    <div class="well">
      <p><strong>Dirección:</strong> <%= @text.street %></p>
      <p><strong>Ciudad:</strong> <%= @text.city %></p>
      <p><strong>País:</strong> <%= @text.country %></p>
      <p><strong>Latitud:</strong> <%= @text.latitude %></p>
      <p><strong>Longitud:</strong> <%= @text.longitude %></p>
      <p><strong>Tags:</strong> <%= @text.tags %></p>
    </div>
    <div class="well">
      <p><strong>Publicado:</strong> <%= @text.created_at.to_s %></p>
      <p><strong>Ha ocurrido:</strong> <%= @text.happened_at.to_s %></p>
    </div>
    <p><%= link_to 'Volver', texts_path %>
  </div>
</div>

<%= gmaps("map_options" => { "zoom" => -4},"markers" => { "data" => @map }) %>
