<div class="row" style="margin:20px;">

  <%= render :partial => "partials/content_header", :locals => { :content => @text, :type => "text" } %>

    <p>
      <%= @text.to_html(@text.body).html_safe %> 
    </p>

  <div class="span6">
    <%= render :partial => "partials/social_buttons", :locals => { :content => @text } %>
  </div>

  <div class="span5 right">
    <% user = @text.user ? @text.user.username : "anonymous" %>
    <% if can? :update, @text %> 
      <%= link_to 'Editar', edit_text_path(@text, :username => user), :class => "btn" %>
    <% end %>
    <% if can? :destroy, @text %> 
        <%= link_to 'Eliminar', text_path(@text, :username => user), :class => "btn", confirm: '¿Estas segura?', method: :delete %>
    <% end %>

    <%= link_to "Descargar", download_text_path(@text, :username => user), :class => "btn" %>

    <%= render :partial => "partials/change_priority", :locals => { :content => @text } %>

    <a class="btn" data-toggle="modal" href="#abuse-modal">Denunciar contenido</a>
  </div>

  <%= render :partial => "partials/metadata", :locals => { :content => @text, :map => @map } %>
</div>
