<h2>Conectar</h2>

<div class="form-vertical">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div><%= f.submit "Sign in", :class => 'btn btn-large' %></div>
<% end %>
</div>

<%= render "links" %>
