<div class="span10 mt1">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"} ) do |f| %>
    <legend>Iniciar sesi칩n</legend>
  
    <div class="control-group">
      <%= f.label :email, "Correo electr칩nico", :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :password, "Contrase침a", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Recordarme" %></div>
    <% end -%>
  
    <div class="form-actions"><%= f.submit "Iniciar sesi칩n", :class => "btn btn-primary" %></div>
  <% end %>
  
  <%= render "links" %>

</div>
