    <div class="form-field">
      <%= f.label 'Tags' %>
      <%= f.text_field :tags, placeholder: 'Tags separados por comas', class: 'span8' %>
    </div>
    <div class="well">
      <div class="form-field">
        <%= f.label 'Fecha' %>
        <%= f.text_field :happened_at, placeholder: '¿Cuándo ha ocurrido?', :class => 'span8' %>
      </div>
    </div>
    <div>
    <legend> Localización </legend>
      <div class="form-field">
        <%= f.text_field :street, placeholder: 'Dirección, Ciudad, País', :class => 'span7' %>
        <a href="#" id="maps_search" class="btn">
          <i class='icon-search'></i>
          Buscar
        </a>
        <% unless content.errors[:street].blank? %>
          <span class="error-message"><%= content.errors[:street].to_sentence %></span>
        <% end %>
      </div>
      <%= gmaps("map_options" => {"center_longitude" => -3.700, "center_latitude" => 40.41, "zoom" => 3, "auto_adjust" => false, "zoom" => 4, "auto_zoom" => false},"markers" => { "data" => @map }) %>

    </div>

    <% unless user_signed_in? %>

      <div class="alert alert-info">
        No te has registrado, por lo que tendrás que confirmar que eres un humano completando las palabras que ves más abajo en el cuadro. Si no quieres tener que hacer esto cada vez que subas algo tendrás que <%= link_to "registrarte", new_user_registration_path %> o sí ya tienes un usuario <%= link_to "iniciar sesión", new_user_session_path %>.
      </div>

      <%= recaptcha_tags %>
      
      <br />

      <div class="form-field">
        <%= f.label :terms, "Acepto las condiciones de uso" %>
        <%= f.check_box :terms, :required => true %>
      </div>

    <% end %>
