
<div class="span12" style="margin-top:2em;">

  <div class="span3" id="content-metadata">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Dónde ha ocurrido</th>
        </tr>
      </thead>
      <tbody>
        <% if content.address != "" %>
          <tr> <td><b>Dirección</b>: <%= content.address %> </td> </tr>
        <% end %>
        <tr> <td><b>Ciudad / País</b>: <%= content.city %> / <%= content.country %> </td></tr>
        <tr><td><b>Latitud / Longitud</b>: <%= content.latitude %> / <%= content.longitude %> </td></tr>
      </tbody>
      <thead>
        <tr>
          <th>Cuándo ha ocurrido</th>
        </tr>
      </thead>
      <tbody>
        <tr> <td><b>Fecha</b>: <%= l content.happened_at, :format => "%d-%m-%Y" %> </td></tr>
        <tr><td><b>Hora</b>: <%= l content.happened_at, :format => "%H:%M" %> </td></tr>
      </tbody>
      <% if content.tags %>
        <thead>
          <tr>
            <th>Etiquetas</th>
          </tr>
        </thead>
        <tbody>
        <tr><td>
          <% content.tags.each do |tag| %>
            <%= link_to tag, tag_show_path(tag) %>
            <%= "|" unless tag == content.tags.last %>
          <% end %>
        </td></tr>
        </tbody>
      <% end %>
    </table>

    <table class="table table-bordered table-condensed">
      <thead class="secondary">
        <tr>
          <th>Autor original</th>
        </tr>
      </thead>
      <tbody>
        <tr> <td>
          <% if content.author_myself == "1" %>
            <%= link_to content.user.username, profile_path(content.user) %>
          <% else %>
            <% if content.author_link %> 
             <%= link_to content.author_name, content.author_link, :target => "_blank" %>
            <% else %>
             <%= content.author_name %>
            <% end %>
          <% end %>
        </td></tr>
      </tbody>
      <thead class="secondary">
        <tr>
          <th>Fecha y hora de subida</th>
        </tr>
      </thead>
      <tbody>
        <tr> <td><%= l content.created_at, :format => :short %></td> </tr>
      </tbody>
    </table>
  </div>

  <div class="span5" id="content-map">
    <%= gmaps("map_options" => { "zoom" => 7, "auto_zoom" => false},"markers" => { "data" => map }) %>
  </div>

</div>


    <div class="modal" id="abuse-modal" style="display:none;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Denunciar contenido inapropiado</h3>
      </div>
      <form method="post" action="<%= request.url + "/abuse" %>">
        <div class="modal-body">
          <% unless user_signed_in? %>
            <label>Correo eletrónico</label>
            <input type="text" name="from" />
          <% end %>
          <label>Mensaje</label>
          <textarea cols="300" rows="10" name="message" rows="10" style="width: 80%;"></textarea>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Enviar" />
          <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
        </div>
      </form>
    </div>
