
  <% if can? :priority, content %>
    <% if content.priority == true %>
      <p><%= link_to image_tag("priority-ok.png"), "#", :class => "priority", "data-id" => content.id, "data-priority-action" => "remove", "data-type" => content.class.to_s %></p>
    <% else %>
      <p><%= link_to image_tag("priority-ko.png"), "#", :class => "priority", "data-id" => content.id, "data-priority-action" => "add", "data-type" => content.class.to_s %></p>
    <% end %>
  <% end %>
    
    <a class="btn btn-danger" data-toggle="modal" href="#abuse-modal">Denunciar contenido</a>
    <p/>

    <div class="well">
      <p><strong>Dirección:</strong> <%= content.address %></p>
      <p><strong>Ciudad:</strong> <%= content.city %></p>
      <p><strong>País:</strong> <%= content.country %></p>
      <p><strong>Latitud:</strong> <%= content.latitude %></p>
      <p><strong>Longitud:</strong> <%= content.longitude %></p>
      <p><strong>Tags:</strong> <%= content.tag_list %></p>
      <p><strong>Autor:</strong> <%= content.author %></p>
      <p><strong>Autor (link):</strong> <%= content.author_link %></p>
    </div>
    <div class="well">
      <% if content.user %>
        <p><strong>Creado por:</strong> <%= link_to content.user.username, "/profile/#{content.user.username}" %></p>
      <% else %>
        <p><strong>Creado por:</strong> <%= link_to 'anonymous', "/profile/anonymous" %></p>
      <% end %>
      <p><strong>Publicado:</strong> <%= l content.created_at, :format => :short %></p>
      <p><strong>Ha ocurrido:</strong> <%= l content.happened_at, :format => :short %></p>
    </div>

    <div class="modal" id="abuse-modal" style="display:none;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Denunciar contenido inapropiado</h3>
      </div>
      <form method="post" action="<%= request.url + "/abuse" %>">
        <div class="modal-body">
          <% unless user_signed_in? %>
            <label>Correo eletrónico</label>
            <input type="text" name="from" />
          <% end %>
          <label>Mensaje</label>
          <textarea cols="300" rows="10" name="message" rows="10" style="width: 80%;"></textarea>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Enviar" />
          <a href="#" class="btn">Cancelar</a>
        </div>
      </form>
    </div>
