<div class="span3">
  <div class="row" id="bank-links">
    <ul>
      <li><%= link_to 'Mapa geográfico', maps_path %></li>
      <li><%= link_to 'Línea de tiempo', timeline_path %></li>
      <li><%= link_to 'Nube de Tags', tags_path %></li>
    </ul>
  </div>
  <div class="row" id="icons-sections">
    <%= link_to image_tag('icon-texts.png'), texts_path, title: 'Textos' %>
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <%= link_to image_tag('icon-photos.png'), images_path, title: 'Fotos' %>
    <br />
    <br />
    <%= link_to image_tag('icon-videos.png'), videos_path, title: 'Vídeos' %>
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <%= link_to image_tag('icon-audios.png'), audios_path, title: 'Audios' %>
  </div>
  <% if can? :editor, Mapmind %>
    <%= link_to "Editar mapa", bank_editor_path, :class => "label" %>
  <% end %>
</div>
